extends template

block head 
    link(rel='stylesheet' href='/stylesheets/index.css')

block navitems
    a(href="/login") Login/Register

block content
    div(class="section group" id="margin_top")
    div(class="section group" id="main")
        div(class="col span_2_of_8 margin")
        div(class="col span_4_of_8" id="search_box")
            div(class="section group" id="search_box_header_container")
                div(class="col span_1_of_8 margin")
                div(class="col span_6_of_8" id="search_box_header")
                    h1 Search for your flight here:
            div(class="section group" id="search_box_container")
                div(class="col span_1_of_8 margin")
                div(class="col span_6_of_8" id="search_form_main")
                    form(id="search_form" action="/results" method="get")
                        div(class="section group inputs" id="input1")
                            div(class="col span_3_of_8")
                                label#dep Airline
                            div(class="col span_5_of_8")
                                input(list="airlines" id="airline" name="airline" placeholder="Select airline" autocomplete="off")
                                datalist(id="airlines")
                                    option(value="FR Ryanair")
                                    option(value="TP TAP Portugal")
                        div(class="section group inputs" id="input2")
                            div(class="col span_3_of_8")
                                label#d Date
                            div(class="col span_5_of_8")
                                input#date(type="date" name="date" value=`${date}` min=`${date}`)
                        div(class="section group inputs" id="input3")
                            div(class="col span_3_of_8")
                                label#num Flight number
                            div(class="col span_5_of_8")
                                input#number(type="text" name="fNumber" autocomplete="off")
                        div(class="section group")
                            div(class="col span_7_of_8 margin")
                            div(class="col span_1_of_8")
                                input#search_button(type="submit" value="Search")