extends template 

block head
  link(rel='stylesheet' href='/stylesheets/landing.css')

block main
  p This domain is a work in progress
  p Check back here often for updates
  p Are you a recruiter? Visit www.devqui.dev for more info