extends template 

block head
  link(rel='stylesheet' href='/stylesheets/landing.css')

block main
  div(class="col span_4_of_8" id="notification")
    img(src="/images/comingSoon.jpg")
    p This domain is managed by Devqui Developments and is in development
    p Are you a recruiter? Visit #[a(href='https://www.devqui.dev' target="_blank" rel="noopener noreferrer") my page] for more info