doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/layout.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
    ol#navbar
      li
        a(href='/') Logo here
      block navitems
  body
    .main
      block content
