extends layout

block head 
    title login
    link(rel='stylesheet' href='/stylesheets/login.css')
    script(src='https://accounts.google.com/gsi/client' async)

block navitems

block content
    .login-form
        p Username or email
        input#user
        p Password 
        input#password
        button.login-button(type="submit") Login
        .split
            hr#left
            p1 or login with:
            hr#right
        .social
            #g_id_onload(data-client_id="181243976003-47s1mgmkpdenocof505f3sk34tka7aam.apps.googleusercontent.com"
            data-context="signin" data-ux_mode="redirect" data-login_uri="https://localhost:3000"
            data-auto_prompt="false")
            .g_id_signin(data-type="icon" data-shape="circle" data-theme="outline" data-text="signin_with"
            data-size="large")
        .alt
            p2 Don’t have an account? Register here or continue as guest