extends layout

block headitems
	link(rel='stylesheet' href='/stylesheets/message.css')

block navitems
	a(href="/login") Login/Register

block maincontent
	div(class="section group" id="content")
		div(class="col span_4_of_8 seatmap_container")
			div(class="seatmap")
				div(class="section group row icons")
					p.icon A 
					p.icon B 
					P.icon C 
					.gap 
					p.icon D 
					p.icon E 
					p.icon F
				- rows = 0
				while rows <= 30
					- rows++
					div(class="section group row")
						.seat(id= rows+"A")
						.seat(id= rows+"B")
						.seat(id= rows+"C")
						.gap
						.seat(id= rows+"D")
						.seat(id= rows+"E")
						.seat(id= rows+"F")
			input(type="hidden" name="flight_details" id="flight_details" value=flight.flightDetails)
		div(class="col span_4_of_8 message_container")
			h1 Request a seat swap
			form(id="message_form" action="" method="post")
				label Message 
				input.form_input(id="message" type="text" name="fNumber" autocomplete="off")
				p The user which has made this seat available will be notified of the swap and will be able to accept or reject your request.
				input(id="search_button" type="submit" value="Send")