doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/template.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block head
    body
        div(class="section group" id="header_container")
            div(class="col span_3_of_8 full")
                a#logo(href='/') My Seat Swap
            div(class="col span_5_of_8 full nav_buttons")
                block nav
        div(class="section group" id="main_container")
            block main