.main {
    background-image: url(/images/landingPlane.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: white;
    padding: 6em 1em;
    border-radius: 5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}