input {
    width: 50%;
    height: 2em;
}

p {
    font-size: 1.25em;
}

p1 {
    font-size: 0.9em;
}

p2 {
    font-size: 0.9em;
}

.login-form {
    background-color: white;
    padding: 6em 1em;
    border-radius: 5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    background-color: white;
    border-radius: 10px;
    width: 12em;
    margin-top: 1.25em;
}

.split {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

#left {
    width: 30%;
}

#right {
    width: 30%;
}

#social {
    width: 30%;
}